[submodule "Thirdparty/vio_g2o"]
	path = Thirdparty/vio_g2o
	url = https://JzHuai0108@bitbucket.org/JzHuai0108/vio_g2o.git
[submodule "Thirdparty/vio_common"]
	path = Thirdparty/vio_common
	url = https://JzHuai0108@bitbucket.org/JzHuai0108/vio_common.git
[submodule "Thirdparty/libviso2"]
	path = Thirdparty/libviso2
	url = https://github.com/JzHuai0108/viso2.git